{% extends 'base.html' %} {% block content %}
    {% load static %}


    <div style="margin-right: 40px; margin-top: 40px; margin-left: 40px;" class="card-body card-body-cascade text-left">
        <div class="wrapper-editor">

            <div class="d-flex justify-content-left buttons-wrapper flex-wrap">
                <a href="{% url 'second' %}" class="btn btn-primary">Create New</a>
            </div>
            <br>
            <div class="closeByClick d-none"></div>
            <div class="showForm d-none"
                 style="position: fixed; top: 20%; left:50%; transform: translate(-50%, -50%); z-index: 1100;">
                <form class="text-center border border-light p-5" style="background: white;">
                    <button type="button" class="close position-relative button-x" style="top:-12%; right: -5%">
                        <span aria-hidden="true" class="text-danger">×</span>
                    </button>
                    <h3 class="h3 my-3 text-danger font-weight-bold">Delete</h3>
                    <hr class="mt-2 mb-3">
                    <p class="text-center h5 py-2 pb-3">Are you sure to delete selected rows?</p>
                    <hr class="mt-2 mb-3">
                    <div class="d-flex justify-content-center buttonYesNoWrapper">
                        <button type="button" class="btn btn-danger btnYes btn-sm" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-primary btnNo btn-sm" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
            <table id="dt-more-row-col" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="font-size: 18px; font-weight: bold;" class="th-lg">Name
                    </th>
                    <th style="font-size: 18px; font-weight: bold;" class="th-lg">Description
                    </th>
                    <th style="font-size: 18px; font-weight: bold;" class="th-sm">Edit
                    </th>
                    <th style="font-size: 18px; font-weight: bold;" class="th-sm">Enable
                    </th>


                </tr>
                </thead>
                <tbody>
                {% for zone in zones %}
                    <tr>
                        <td style="width: 500px;">{{ zone.user }}</td>
                        <td style="width: 500px;">{{ zone.description }}</td>
                        <td>
                            <form action="zone_idd" method="GET" class="post-form">
                                <a data-toggle="modal"
                                   data-target="#exampleModal"
                                   data-whatever="@fat" > <img src="{% static 'pen.png' %}" alt="pen" width=20px;
                                                              height=20px;></a>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

            <button class="btn btn-primary">Download</button>
        </div>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <div style="float: right;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form action="add_user" method="POST" class="post-form">
                        <div class="form-group">
{#                            <label for="recipient-name" class="col-form-label">User Name:</label>#}
                            <label for="recipient-name" class="col-form-label">{{ zone.id }}</label>
                            <input type="text" class="form-control" id="recipient-name"
                                   name="user_name">
                            <br>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
